body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* --------------------------Start Screen----------------------------------- */

#start-div {
  padding-top: 25vh;
}

#start-button {}

/* --------------------------Beer Components----------------------------------- */

.centered-text {
  margin: auto;
  padding: 60px;
}

.centered-contact {
  margin: auto;
  padding-top: 40px;
}

.phone-number {
  text-decoration: none;
  color: black;
}

.brewery-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1.3fr 0.9fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Map Map Map Name Name Name Name" "Map Map Map Address Address Address Address" "Map Map Map Phone Phone Website Website" "Map Map Map Next-Brewery Next-Brewery Next-Brewery Next-Brewery";
  height: 70vh;
  background-color: rgba(255, 166, 0, 0.863);
  border-radius: 10mm;
  border-top-left-radius: 0mm;
  border-bottom-left-radius: 0mm;
}

@media only screen and (max-width: 900px) {
  .brewery-container {
    height: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.6fr .5fr .5fr 0.4fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "Map Map Map Map" "Map Map Map Map" "Map Map Map Map" "Name Name Name Name" "Address Address Address Address" "Phone Phone Website Website" "Next-Brewery Next-Brewery Next-Brewery Next-Brewery";
    border-radius: 10mm;
    border-top-right-radius: 0mm;
    border-top-left-radius: 0mm;
  }
  .centered-text {
    padding: 20px;
  }
  .centered-contact {
    padding: 15px;
  }
  .Map {
    min-height: 20vh;
    padding-top: 25px;
  }
}

.Map {
  grid-area: Map;
  margin: 5px;
  padding: 10px;
}

.Name {
  grid-area: Name;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  margin: 10px;
}

.Address {
  grid-area: Address;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  margin: 10px;
}

.Phone {
  grid-area: Phone;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  max-height: 100px;
  margin: 10px;
}

.Website {
  grid-area: Website;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  margin: 10px;
  max-height: 100px;
  word-break: break-word;
}

.Next-Brewery {
  grid-area: Next-Brewery;
  margin: 5px;
  padding: 20px;
  padding-bottom: 20px;
}