html {
  background-color: #f7f7f7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  background-color: #f7f7f7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* --------------------------About Page----------------------------------- */

.about-page {
  max-width: 650px;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
}

/* --------------------------Start Screen----------------------------------- */

#autocomplete-input {
  width: 40%;
}

.description {
  padding: 10px;
  font-size: larger;
}

.start-div {
  padding-top: 10vh;
}

.start-button-div {
  margin: auto;
  width: fit-content;
  background: "none";
  border-radius: 5mm;
  transition: .4s;
}

.start-button-div:hover {
  transform: translateY(-5px);
  background-color: rgba(128, 128, 128, 0.178);
}

.start-button-div:active {
  transform: translateY(15px);
}

/* --------------------------Loading Components----------------------------------- */

.loading-bubble-1 {
  position: absolute;
  top: 70vh;
  left: 44vw;
  background-color: rgb(248, 237, 214);
  border-radius: 10px;
  width: 7px;
  height: 7px;
  animation: Rising 4s infinite;
}

.loading-bubble-2 {
  position: absolute;
  top: 70vh;
  left: 44vw;
  background-color: rgb(248, 237, 214);
  border-radius: 10px;
  width: 7px;
  height: 7px;
  animation: Rising 4s infinite 1s;
}

.loading-bubble-3 {
  position: absolute;
  top: 70vh;
  left: 44vw;
  background-color: rgb(248, 237, 214);
  border-radius: 10px;
  width: 7px;
  height: 7px;
  animation: Rising 4s infinite 2s;
}

.loading-bubble-4 {
  position: absolute;
  top: 70vh;
  left: 53vw;
  background-color: rgb(248, 237, 214);
  border-radius: 10px;
  width: 7px;
  height: 7px;
  animation: Rising 8s forwards;
}

.loading-bubble-5 {
  position: absolute;
  top: 70%;
  left: 55vw;
  background-color: rgb(248, 237, 214);
  border-radius: 10px;
  width: 7px;
  height: 7px;
  animation: Rising 3s forwards;
}

.loading-bubble-6 {
  position: absolute;
  top: 70vh;
  left: 51vw;
  background-color: rgb(248, 237, 214);
  border-radius: 10px;
  width: 7px;
  height: 7px;
  animation: Rising 6s forwards infinite 1s;
}

@keyframes Rising {
  100% {
    top: 31vh
  }
}

.loading-logo-text {
  padding-top: 20vh;
}

.loading-logo-top {
  position: absolute;
  top: 30vh;
  left: 40.7vw;
  border-top: 5.5vh solid rgb(248, 237, 214);
  border-left: .3vw solid transparent;
  border-right: .3vw solid transparent;
  height: 0;
  width: 18.6vw;
}

.loading-logo-bottom {
  position: absolute;
  top: 35vh;
  left: 41vw;
  border-top: 45vh solid rgba(255, 166, 0, 0.863);
  border-left: 2.3vw solid transparent;
  border-right: 2.3vw solid transparent;
  height: 0;
  width: 18vw;
}

/* --------------------------Beer Components----------------------------------- */

.centered-text {
  margin: auto;
  padding: 60px;
}

.centered-phone {
  line-height: 100px;
}

.centered-website{
  line-height: 100px;
  font-size: x-large;
}

.phone-number {
  text-decoration: none;
  color: black;
}

.brewery-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1.3fr 0.9fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Map Map Map Name Name Name Name" "Map Map Map Address Address Address Address" "Map Map Map Phone Phone Website Website" "Map Map Map Next-Brewery Next-Brewery Next-Brewery Next-Brewery";
  height: 70vh;
  background-color: rgba(255, 166, 0, 0.863);
  border-radius: 10mm;
  border-top-left-radius: 0mm;
  border-bottom-left-radius: 0mm;
}

#website-link {
  color: black;
}

@media only screen and (max-width: 620px) {
  .loading-bubble-1 {
    position: absolute;
    top: 65%;
    left: 30%;
    background-color: rgb(248, 237, 214);
    border-radius: 10px;
    width: 7px;
    height: 7px;
    animation: Rising 4s infinite;
  }
  .loading-bubble-2 {
    position: absolute;
    top: 65%;
    left: 30%;
    background-color: rgb(248, 237, 214);
    border-radius: 10px;
    width: 7px;
    height: 7px;
    animation: Rising 4s infinite 1s;
  }
  .loading-bubble-3 {
    position: absolute;
    top: 65%;
    left: 30%;
    background-color: rgb(248, 237, 214);
    border-radius: 10px;
    width: 7px;
    height: 7px;
    animation: Rising 4s infinite 2s;
  }
  .loading-bubble-4 {
    position: absolute;
    top: 69%;
    left: 45%;
    background-color: rgb(248, 237, 214);
    border-radius: 10px;
    width: 7px;
    height: 7px;
    animation: Rising 8s forwards;
  }
  .loading-bubble-5 {
    position: absolute;
    top: 70%;
    left: 67%;
    background-color: rgb(248, 237, 214);
    border-radius: 10px;
    width: 7px;
    height: 7px;
    animation: Rising 3s forwards;
  }
  .loading-bubble-6 {
    position: absolute;
    top: 62%;
    left: 60%;
    background-color: rgb(248, 237, 214);
    border-radius: 10px;
    width: 7px;
    height: 7px;
    animation: Rising 6s forwards;
  }
  .loading-logo-top {
    position: absolute;
    top: 30vh;
    left: 24vw;
    border-top: 5.5vh solid rgb(248, 237, 214);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    height: 0;
    width: 50.7vw;
  }
  .loading-logo-bottom {
    position: absolute;
    top: 35vh;
    left: 24.8vw;
    border-top: 43vh solid rgba(255, 166, 0, 0.863);
    border-left: 6vw solid transparent;
    border-right: 6vw solid transparent;
    height: 0;
    width: 49vw;
  }
}

@media only screen and (max-width: 900px) {
  /* --------------------------Start Screen----------------------------------- */
  #autocomplete-input {
    width: 80%;
  }
  .start-button-div {
    border-style: solid;
    transition: unset;
  }
  .start-button-div:hover {
    transform: unset;
    background-color: unset;
  }
  .start-button-div:active {
    transform: unset;
  }
  /* --------------------------Beer Components----------------------------------- */
  .brewery-container {
    height: unset;
    background-color: unset;
    background-image: linear-gradient(rgb(248, 237, 214) 20%, rgba(255, 166, 0, 0.267) 21%, orange 22%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.6fr .5fr .5fr 0.4fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "Map Map Map Map" "Map Map Map Map" "Map Map Map Map" "Name Name Name Name" "Address Address Address Address" "Phone Phone Website Website" "Next-Brewery Next-Brewery Next-Brewery Next-Brewery";
    border-radius: 10mm;
    border-top-right-radius: 0mm;
    border-top-left-radius: 0mm;
  }
  .centered-text {
    padding: 20px;
  }
  .centered-phone {
    line-height: 100px;
    font-size: large;

  }
  .centered-website{
    height: inherit;
    line-height: 100px;
    font-size: large;
  }
  .Map {
    min-height: 20vh;
    padding-top: 25px;
  }
}

.Map {
  grid-area: Map;
  margin: 5px;
  padding: 10px;
}

.Name {
  grid-area: Name;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  margin: 10px;
}

.Address {
  grid-area: Address;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  margin: 10px;
}

.Phone {
  grid-area: Phone;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  max-height: 100px;
  margin: 10px;
}

.Website {
  grid-area: Website;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 10mm;
  margin: 10px;
  max-height: 100px;
  word-break: break-word;
}

.Next-Brewery {
  grid-area: Next-Brewery;
  margin: 5px;
  padding: 20px;
  padding-bottom: 20px;
}